<% provide(:title, 'About') %>
<h1>About Us</h1>
<%= image_tag 'LCCC-image.jpg', class: "pull-right", style: "padding-left: 15px;" %>

<p class="text-justify"><strong>The Low Carbon Combustion Centre</strong> (LCCC) based in Beighton is a 
initiative by <a href="http://www.shef.ac.uk" target="_blank">The University of Sheffield</a>. The centre boasts state-of-the 
art facilities with a range of pilot scale test rigs including, a 350 kW 
fluidised bed combustor, a 60kW Rolls Royce gas turbine engine facility, a 250kW Rotary kiln, a solid 
oxide fuel cell (SOFC) test rig, a 250kW furnace, an atmospheric combustion and ignition line and a 
mobile emissions laboratory.</p>


<p class="text-justify">The Centre also houses the Aviation Fuels Thermal Stability Test Unit (AFTSTU) and lubricants stability 
(LSIS) test rig. Other than the LCCC, only the U.S. military can facilitate this type of fuel testing. 
The LCCC is renowned for its world class research and has been recognised as being the leading research 
group in the field of alternative fuel, carbon capture and energy. Currently the centre comprises over 
100 members.</p>

<p class="text-justify">The ever increasing stringent regulation in environmental regulation coupled with the increasing 
need to reduce reliance on fossil fuels has driven much of the group´s research activity since its 
inception. Gas turbine engine manufacturer and aviation fuel suppliers such as as Rolls Royce and 
Shell have funded much of the group´s research aimed at improving the efficiency of the aviation 
gas turbine engine and to seek possible alternative fuels.</p>

<p class="text-justify">The centre also houses a few test rigs which are utilised for solid fuel testing. The combined 
expertise of both Sheffield and Leeds has allowed research to be carried even in the field of renewable
 and alternative solid fuels. In order to reduce dependencies on coal and energy crops, the centre
 possesses various equipments which would allow blends of multiple biomass and other solid material
 to be tested while the mobile laboratory is equipped with a state of the art emissions monitoring
 equipment. Since its establishment the LCCC has consistently attracted funding from various sources
 worldwide and continues to grow.</p>

