<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Job Request System</h2>
    <p>You currently have the following overdue job: </p>
    <%= link_to "Go to Job", job_url(@job) %>     
    <p>Please finish it as soon as possible</p>
  </body>
</html>
