<% provide(:title, 'Register RIG') %>
<h1>Register New RIG</h1>
<br />

<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <%= form_for(@rig) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>      
      <%= f.text_field :code, class: 'form-control', placeholder: 'Type new rig code', required: true %>  
      <br />       
      <%= f.submit "Register New RIG", class: "btn btn-block btn-primary" %>
    <% end %>    
  </div>
</div>

